version: '3.8'

services:
  backend:
    build: .
    container_name: backend-server
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    volumes:
      - ./application.properties:/app/application.properties
  redis:
    image: redis:alpine
    container_name: aslung-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data: